In [1]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [3]:
import random
for i in range(10): 
    x = random.random() 
    print(x)

0.005117590271652039
0.8985517151522459
0.29976275628258076
0.24772569120559196
0.7240903623150454
0.9922901220095757
0.4761416286651964
0.17240550491286877
0.9254553574299085
0.07609172432095901

In [4]:
random.randint(5, 10)

5

In [5]:
random.randint(5, 10)

9

In [7]:
t = [1, 2, 3]
random.choice(t)

1

In [50]:
import string
def process_file(filename): 
    hist = dict() 
    fp = open(filename) 
    for line in fp: 
        process_line(line, hist)
    return hist

In [12]:
def process_line(line, hist): 
    line = line.replace('-', ' ')
    for word in line.split(): 
        word = word.strip(string.punctuation + string.whitespace) 
        word = word.lower() 
        hist[word] = hist.get(word, 0) + 1
hist = process_file('myfile.txt')
print(hist)

{'hello': 1, 'world': 1, 'this': 1, 'is': 1, 'a': 1, 'python': 2, 'class': 1, 'try': 1, 'for': 1, 'fun': 1}

In [24]:
def total_words(hist): 
    return sum(hist.values())
total_words(hist)

11

In [26]:
def different_words(hist): 
    return len(hist)
different_words(hist)

10

In [27]:
print('Total number of words:', total_words(hist))
print('Number of different words:', different_words(hist))

Total number of words: 11
Number of different words: 10

In [29]:
def most_common(hist):
    t = [] 
    for key, value in hist.items(): 
        t.append((value, key))
    t.sort(reverse=True) 
    return t
most_common(hist)

[(2, 'python'),
 (1, 'world'),
 (1, 'try'),
 (1, 'this'),
 (1, 'is'),
 (1, 'hello'),
 (1, 'fun'),
 (1, 'for'),
 (1, 'class'),
 (1, 'a')]

In [30]:
t = most_common(hist)
print('The most common words are:') 
for freq, word in t[:10]: 
    print(word, freq, sep='\t')

The most common words are:
python	2
world	1
try	1
this	1
is	1
hello	1
fun	1
for	1
class	1
a	1

In [32]:
t = most_common(hist)
print('The most common words are:') 
for freq, word in t[:30]: 
    print(word, freq, sep='\t')

The most common words are:
python	2
world	1
try	1
this	1
is	1
hello	1
fun	1
for	1
class	1
a	1

In [33]:
def print_most_common(hist, num=10): 
    t = most_common(hist)
    print('The most common words are:') 
    for freq, word in t[:num]: 
        print(word, freq, sep='\t')
print_most_common(hist)

The most common words are:
python	2
world	1
try	1
this	1
is	1
hello	1
fun	1
for	1
class	1
a	1

In [34]:
print_most_common(hist, 20)

The most common words are:
python	2
world	1
try	1
this	1
is	1
hello	1
fun	1
for	1
class	1
a	1

In [46]:
def subtract(d1, d2): 
    res = dict() 
    for key in d1:
        print (key)
        if key not in d2: 
            res[key] = None 
            return res
    print (res)

In [53]:
words = process_file('myfile.txt') 
diff = subtract(hist, words)
print (hist)
print (words)
print("Words in the book that aren't in the word list:")

hello
world
this
is
a
python
class
try
for
fun
{}
{'hello': 1, 'world': 1, 'this': 1, 'is': 1, 'a': 1, 'python': 2, 'class': 1, 'try': 1, 'for': 1, 'fun': 1}
{'hello': 1, 'world': 1, 'this': 1, 'is': 1, 'a': 1, 'python': 2, 'class': 1, 'try': 1, 'for': 1, 'fun': 1}
Words in the book that aren't in the word list:

In [57]:
import random
def random_word(h):
    t = [] 
    for word, freq in h.items(): 
        t.extend([word] * freq)
return random.choice(t)

(2, 'python')

In [58]:
fout = open('myfile.txt', 'w')

In [59]:
line1 = "This here's the wattle,\n"

In [60]:
fout.write(line1)

24

In [61]:
line2 = "the emblem of our land.\n"

In [62]:
fout.write(line2)

24

In [64]:
line3 = "This is the test insertion line. \n"
fout.write(line3)

34

In [68]:
fout.close()

In [69]:
x = 52
fout = open('myfile.txt', 'w')

In [71]:
fout.write(str(x))

2

In [72]:
camels = 42
'%d' % camels

'42'

In [74]:
'I have spotted %d camels.' % camels

'I have spotted 42 camels.'

In [75]:
'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years I have spotted 0.1 camels.'

In [84]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\shash'

In [85]:
os.path.abspath('myfile.txt')

'C:\\Users\\shash\\myfile.txt'

In [88]:
os.path.isdir('myfile.txt')

False

In [89]:
os.path.isdir('C:\\Users\\shash')

True

In [90]:
os.listdir(cwd)

['.anaconda',
 '.bash_history',
 '.cisco',
 '.conda',
 '.condarc',
 '.config',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '3D Objects',
 'Anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Ghanta_Assign2.ipynb',
 'ghanta_classwork1.ipynb',
 'Ghanta_selfstudy1.ipynb',
 'ghanta_selfstudy2.ipynb',
 'hello.py',
 'IntelGraphicsProfiles',
 'ipython-turtle-widget',
 'lesson-2-code.ipynb',
 'Links',
 'Local Settings',
 'MicrosoftEdgeBackups',
 'moon.png',
 'Music',
 'My Documents',
 'myfile.txt',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TM.blf',
 'NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'package-lock.json',
 'Pictures',
 'PrintHood',
 'Recent',
 'Roaming',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'testingbook.ipynb',
 'text',
 'Videos']

In [93]:
def walk(dirname): 
    for name in os.listdir(dirname): 
        path = os.path.join(dirname, name)
    if os.path.isfile(path): 
        print(path) 
    else: 
        walk(path)
walk('Anaconda3')

Anaconda3\xlwings64-0.15.1.dll

In [95]:
fin = open('Anaconda3')

PermissionError: [Errno 13] Permission denied: 'Anaconda3'

In [96]:
try:
    fin = open('Anaconda3') 
except: 
    print('Something went wrong.')

Something went wrong.

In [98]:
import dbm
db = dbm.open('captions', 'c')

In [99]:
db['cleese.png'] = 'Photo of John Cleese.'

In [100]:
db['cleese.png']

b'Photo of John Cleese.'

In [101]:
db['cleese.png'] = 'Photo of John Cleese doing a silly walk.'

In [102]:
db['cleese.png']

b'Photo of John Cleese doing a silly walk.'

In [103]:
for key in db: 
    print(key, db[key])

b'cleese.png' b'Photo of John Cleese doing a silly walk.'

In [104]:
db.close()

In [105]:
import pickle
t = [1, 2, 3]
pickle.dumps(t)

b'\x80\x03]q\x00(K\x01K\x02K\x03e.'

In [106]:
t1 = [1, 2, 3]
s = pickle.dumps(t1)
t2 = pickle.loads(s)
t2

[1, 2, 3]

In [107]:
t1 == t2

True

In [108]:
t1 is t2

False

In [109]:
cmd= 'ls -l'
fp = os.popen(cmd)

In [110]:
fp

In [111]:
res = fp.close()

In [117]:
stat = fp.close()

In [113]:
print(stat)

1

In [116]:
filename = 'book.tex'
cmd = 'md5sum ' + filename
fp = os.popen(cmd)
res = fp.read()
stat = fp.close()
print(res)

In [115]:
print(stat)

1

In [120]:
def linecount(filename): 
    count = 0 
    for line in open(filename): 
        count += 1 
    return count
linecount('myfile.txt')

3

In [125]:
print(linecount('wc.py'))

6

In [126]:
wc

In [128]:
import wc

In [130]:
wc.linecount('wc.py')

AttributeError: module 'wc' has no attribute 'linecount'

In [131]:
if __name__ == '__main__':
    print(linecount('wc.py'))

6

In [132]:
s = '1 2\t 3\n 4'
print(s)

1 2	 3
 4

In [133]:
print(repr(s))

'1 2\t 3\n 4'

In [136]:
class Point: 
    """Represents a point in 2-D space."""

In [137]:
Point

__main__.Point

In [138]:
blank=Point()

In [139]:
blank

In [140]:
blank.x = 3
blank.y = 5

In [141]:
blank.y

5

In [142]:
x = blank.x

In [143]:
x

3

In [144]:
'(%g, %g)' % (blank.x, blank.y)

'(3, 5)'

In [147]:
import math
distance = math.sqrt(blank.x**2 + blank.y**2)
distance

5.830951894845301

In [148]:
dist = math.sqrt(blank.x**3 + blank.y**3)

In [149]:
dist

12.328828005937952

In [150]:
def print_point(p):
    print('(%g, %g)' % (p.x, p.y))
print_point(blank)

(3, 5)

In [152]:
class Rectangle: 
    """Represents a rectangle.
attributes: width, height, corner. """

In [153]:
box = Rectangle() 
box.width = 100.0
box.height = 200.0 
box.corner = Point()
box.corner.x = 0.0 
box.corner.y = 0.0

In [154]:
def find_center(rect):
    p = Point() 
    p.x = rect.corner.x + rect.width/2 
    p.y = rect.corner.y + rect.height/2 
    return p
center = find_center(box)
print_point(center)

(50, 100)

In [155]:
box.width = box.width + 50
box.height = box.height + 100

In [156]:
def grow_rectangle(rect, dwidth, dheight): 
    rect.width += dwidth 
    rect.height += dheight

In [157]:
box.width, box.height

(150.0, 300.0)

In [158]:
grow_rectangle(box, 50, 100)

In [159]:
box.width, box.height

(200.0, 400.0)

In [160]:
p1 = Point()

In [161]:
p1.x = 3.0

In [162]:
p1.y = 4.0

In [163]:
import copy

In [164]:
p2 = copy.copy(p1)

In [165]:
print_point(p1)

(3, 4)

In [166]:
 print_point(p2)

(3, 4)

In [167]:
p1 is p2

False

In [168]:
p1 == p2

False

In [169]:
p1 != p2

True

In [170]:
box2 = copy.copy(box)

In [171]:
box2 is box

False

In [172]:
box2.corner is box.corner

True

In [173]:
box3 = copy.deepcopy(box)

In [174]:
box3 is box

False

In [175]:
box3.corner is box.corner

False

In [176]:
p = Point()

In [177]:
p.x = 3

In [180]:
p.y = 4 
p.z = 6

In [179]:
type(p)

__main__.Point

In [311]:
class Time: 
    """Represents the time of day.
attributes: hour, minute, second """
    def add_time(t1, t2): 
        sum = Time() 
        sum.hour = t1.hour + t2.hour 
        sum.minute = t1.minute + t2.minute 
        sum.second = t1.second + t2.second 
        return sum
    def print_time(done):
        print(done.hour,":",done.minute,":",done.second)
    def time_to_int(time): 
        minutes = time.hour * 60 + time.minute 
        seconds = minutes * 60 + time.second 
        return seconds

In [316]:
time = Time() 
time.hour = 11 
time.minute = 59 
time.second = 30

In [317]:
start = Time()

In [318]:
start.hour = 9 
start.minute = 45 
start.second = 0

In [319]:
duration = Time() 
duration.hour = 1 
duration.minute = 35
duration.second = 0

In [320]:
done = add_time(start, duration)
print(done)

(11, 20)

In [321]:

add_time(start,duration)

(11, 20)

In [322]:
    def increment(time, seconds): 
        time.second += seconds
        if time.second >= 60: 
            time.second -= 60 
            time.minute += 1
        if time.minute >= 60:
            time.minute -= 60 
            time.hour += 1
        return time.hour, time.minute
print(increment(time,60))

(12, 0)

In [323]:
def time_to_int(time): 
    minutes = time.hour * 60 + time.minute 
    seconds = minutes * 60 + time.second 
    return seconds
time_to_int(time)

43230

In [239]:
class Time: 
    """Represents the time of day."""

In [240]:
def print_time(time): 
    print('%.2d:%.2d:%.2d' % (time.hour, time.minute, time.second))

In [353]:
start = Time()

In [354]:
start.hour = 9
start.minute = 45 
start.second = 00 
print_time(start)

9 : 45 : 0

In [243]:
class Time: 
    def print_time(time): 
        print('%.2d:%.2d:%.2d' % (time.hour, time.minute, time.second))

In [244]:
Time.print_time(start)

09:45:00

In [385]:
def int_to_time(seconds): 
        time = Time() 
        minutes, time.second = divmod(seconds, 60) 
        time.hour, time.minute = divmod(minutes, 60) 
        return time

In [382]:
class Time: 
    def print_time(self): 
        print('%.2d:%.2d:%.2d' % (self.hour, self.minute, self.second))
    def time_to_int(time): 
        minutes = time.hour * 60 + time.minute 
        seconds = minutes * 60 + time.second 
        return seconds
    def increment(self, seconds): 
        seconds += self.time_to_int() 
        return int_to_time(seconds)

    def is_after(self, other): 
        return self.time_to_int() > other.time_to_int()
    def __init__(self, hour=0, minute=0, second=0): 
        self.hour = hour 
        self.minute = minute 
        self.second = second
    def __str__(self): 
        return '%.2d:%.2d:%.2d' % (self.hour, self.minute, self.second)
    def __add__(self, other): 
        seconds = self.time_to_int() + other.time_to_int() 
        return int_to_time(seconds)
    def __add__(self, other): 
        if isinstance(other, Time): 
            return self.add_time(other) 
        else: 
            return self.increment(other)
    def add_time(self, other): 
        seconds = self.time_to_int() + other.time_to_int() 
        return int_to_time(seconds)
    def increment(self, seconds): 
        seconds += self.time_to_int() 
        return int_to_time(seconds)
    def __radd__(self, other): 
        return self.__add__(other)

In [351]:
start.print_time()

09:45:00

In [389]:
end = start.increment(1337)
end.print_time()

10:07:17

In [390]:
end.is_after(start)

True

In [364]:
time = Time()

In [365]:
time.print_time()

00:00:00

In [366]:
time = Time (9) 
time.print_time()

09:00:00

In [367]:
time = Time(9, 45)

In [368]:
time.print_time()

09:45:00

In [371]:
time = Time(9, 45)
print(time)

09:45:00

In [373]:
start = Time(9, 45)

In [379]:
duration = Time(1, 35) 
print(duration)

01:35:00

In [388]:
start = Time(9, 45)
duration = Time(1, 35) 
print(start + duration)

11:20:00

In [387]:
print(1337 + start)

10:07:17

In [395]:
def histogram(s): 
    d = dict() 
    for c in s: 
        if c not in d: 
            d[c] = 1
        else: 
            d[c] = d[c]+1 
    return d

In [396]:
t = ['spam', 'egg', 'spam', 'spam', 'bacon', 'spam']
histogram(t)

{'spam': 4, 'egg': 1, 'bacon': 1}

In [397]:
t1 = Time(7, 43)
t2 = Time(7, 41)
t3 = Time(7, 37) 
total = sum([t1, t2, t3])
print(total)

23:01:00

In [417]:
class Card:
    """Represents a standard playing card."""
    def __init__(self, suit=0, rank=2):
        self.suit = suit 
        self.rank = rank
    suit_names = ['Clubs', 'Diamonds', 'Hearts', 'Spades'] 
    rank_names = [None, 'Ace', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King']
    def __str__(self): 
        return '%s of %s' % (Card.rank_names[self.rank], Card.suit_names[self.suit])
    def __lt__(self, other): 
        # check the suits 
        if self.suit < other.suit:
            return True 
        if self.suit > other.suit: 
            return False
# suits are the same... check ranks 
        return self.rank < other.rank
    def __lt__(self, other): 
        t1 = self.suit, self.rank 
        t2 = other.suit, other.rank 
        return t1 < t2

In [428]:
class Deck:
    def __init__(self): 
        self.cards = [] 
        for suit in range(4):
            for rank in range(1, 14):
                card = Card(suit, rank) 
                self.cards.append(card)
    def __str__(self): 
        res = []
        for card in self.cards:
            res.append(str(card)) 
        return '\n'.join(res)
    def pop_card(self):
        return self.cards.pop()
    def add_card(self, card): 
        self.cards.append(card)
    def shuffle(self): 
        random.shuffle(self.cards)

In [409]:
queen_of_diamonds = Card(1, 12)

In [410]:
print(queen_of_diamonds)

Queen of Diamonds

In [411]:
card1 = Card(2, 11) 
print(card1)

Jack of Hearts

In [426]:
deck = Deck()
print(deck)

Ace of Clubs
2 of Clubs
3 of Clubs
4 of Clubs
5 of Clubs
6 of Clubs
7 of Clubs
8 of Clubs
9 of Clubs
10 of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Diamonds
2 of Diamonds
3 of Diamonds
4 of Diamonds
5 of Diamonds
6 of Diamonds
7 of Diamonds
8 of Diamonds
9 of Diamonds
10 of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Ace of Hearts
2 of Hearts
3 of Hearts
4 of Hearts
5 of Hearts
6 of Hearts
7 of Hearts
8 of Hearts
9 of Hearts
10 of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Spades
2 of Spades
3 of Spades
4 of Spades
5 of Spades
6 of Spades
7 of Spades
8 of Spades
9 of Spades
10 of Spades
Jack of Spades
Queen of Spades
King of Spades

In [438]:
class Hand(Deck): 
    """Represents a hand of playing cards."""
    def __init__(self, label=''): 
        self.cards = [] 
        self.label = label
    def move_cards(self, hand, num): 
        for i in range(num): 
            hand.add_card(self.pop_card())

In [431]:
hand = Hand('new hand')
hand.cards

[]

In [432]:
hand.label

'new hand'

In [433]:
deck = Deck()
card = deck.pop_card() 
hand.add_card(card) 
print(hand)

King of Spades

In [435]:
def find_defining_class(obj, meth_name): 
    for ty in type(obj).mro(): 
        if meth_name in ty.__dict__: 
            return ty

In [436]:
hand = Hand() 
find_defining_class(hand, 'shuffle')

__main__.Deck

In [440]:
x = [4,1,2,3]
y = sorted(x)
x.sort()

In [441]:
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [443]:
#sorted for the abosolute value from largest to smallest
x = sorted([-4,1,-2,3], key=abs, reverse=True)

In [444]:
print(x)

[-4, 3, -2, 1]

In [452]:
even_num=[x for x in range(5) if x%2 == 0]
squares=[x*x for x in range(5)]
even_squares=[x*x for x in even_num]
print(even_num)
print(squares)
print(even_squares)

[0, 2, 4]
[0, 1, 4, 9, 16]
[0, 4, 16]

In [453]:
square_dict={x:x*x for x in range(5) } 
square_set={x*x for x in [1, -1]}

In [455]:
print(square_dict)
print(square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1}

In [457]:
zeroes = [0 for _ in even_num]
print(zeroes)

[0, 0, 0]

In [458]:
pairs = [(x,y)
        for x in range(10)
        for y in range(10)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [459]:
inc_pairs = [(x,y)
        for x in range(10)
        for y in range(x+1, 10)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [462]:
def lazy_range(n):
    i=0
    while i<n:
        yield i
        i+=1
    print(i)
lazy_range(10)

In [464]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
print(four_uniform_randoms)

[0.09806630377236736, 0.9985756910835168, 0.8960321326841258, 0.5017511702120767]

In [467]:
ran=[random.random() for _ in range(9)]
ran

[0.8952021680036719,
 0.07069135631979073,
 0.2646312444722636,
 0.15089340273676322,
 0.3878726722039507,
 0.6049504799582672,
 0.9993128952319853,
 0.31181365640797065,
 0.7136647984827682]

In [470]:
import random
random.seed(10)

In [472]:
print (random.random())

0.5714025946899135

In [474]:
random.randrange(10)
random.randrange(3, 6)

5

In [484]:
lottery_num = range(60)
winning_num = random.sample(lottery_num, 6)
print(winning_num)

[20, 4, 15, 47, 23, 2]

In [485]:
four_with_replacement=[random.choice(range(10))
                      for _ in range(4)]
print(four_with_replacement)

[6, 2, 9, 5]

In [491]:
import re
print (all([
    not re.match("a", "cat"),
    re.search("a", "cat"),
    not re.search("c", "dog"),
    3 == len(re.split("[ab]", "cards")),
    "R-D-" == re.sub("[0-9]", "-", "R2D2")
]))

False

In [501]:
class Set:
    def __init__(self, values=None):
        self.dict = {} 
    
        if values is not None:
            for value in values:
                self.add(value)
    def __repr__(self):
        return "Set: " + str(self.dict.keys())
    def add(self, value):
        self.dict[value] = True
    def contains(self, value):
        return value in self.dict
    def remove(self, value):
        del self.dict[value]

In [503]:
s = Set([1,2,3])
s.add(4)
print( s.contains(4))
s.remove(3)
print (s.contains(3))

True
False

In [504]:
def exp(base, power):
    return base ** power
exp(5,3)

125

In [505]:
def two_to_the(power):
    return exp(2, power)
two_to_the(5)

32

In [506]:
from functools import partial
two_to_the = partial(exp, 2) 
print(two_to_the(6))

64

In [508]:
square_of = partial(exp, power=5)
print(square_of(4))

1024

In [509]:
def double(x):
    return 2 * x
xs = [4,7,2,3]
twice_xs = [double(x) for x in xs] 
twice_xs = map(double, xs) 
list_doubler = partial(map, double)
twice_xs = list_doubler(xs)

double(4)

8

In [510]:
def multiply(x, y): return x * y
products = map(multiply, [2, 4], [3, 2])

multiply(4,3)

12

In [511]:
first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5] 
last_three = x[-3:]
without_first_and_last = x[1:-1] 
copy_of_x = x[:]

In [512]:
def is_even(x):
    return x % 2 == 0
is_even(6)

True

In [513]:
x_evens = [x for x in xs if is_even(x)]
print(x_evens)
x_evens = filter(is_even, xs)

list_evener = partial(filter, is_even)

x_evens = list_evener(xs)

[4, 2]

In [514]:
list1 = ['r', 'w', 's']
list2 = [4,7,3]
zipped=zip(list1, list2)
print(zipped)

<zip object at 0x000001386BED3948>

In [515]:
pairs = [('s', 2), ('d', 3), ('w', 5)]
letters, numbers = zip(*pairs)
letters

('s', 'd', 'w')

In [516]:
numbers

(2, 3, 5)

In [518]:
print(zip(('s', 2), ('d', 3), ('w', 5)))

<zip object at 0x000001386BED3A08>

In [519]:
def add(a, b): return a + b
add(3, 5) 

add(*[2, 2])

4

In [520]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

In [523]:
def f1(x):
    return x + 1
g = doubler(f1)
print(g(4))
print(g(9))

10
20

In [524]:
def magic(*args, **kwargs):
    print( "unnamed args:", args)
    print ("keyword args:", kwargs)
magic(1, 2, key="num", key2="num1")

unnamed args: (1, 2)
keyword args: {'key': 'num', 'key2': 'num1'}

In [525]:
def other_way_magic(x, y, z):
    return x + y + z
x_y_list = [2, 4]
z_dict = { "z" : 5 }
print(other_way_magic(*x_y_list, **z_dict))

11

In [526]:
y

[1, 2, 3, 4]

In [527]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3 
try:
    my_tuple[1] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [528]:
def sum_and_product(x, y):
    return (x + y),(x * y)
sp = sum_and_product(4, 5)
s, p = sum_and_product(2, 1)

In [529]:
print (s, p)

3 2

In [531]:
x, y = 1, 2 
x, y = y, x
print(x, y)

2 1

In [532]:
empty_dict = {}
empty_dict2 = dict()
grades = { "ron" : 20, "jim" : 23 }

In [533]:
grades

{'ron': 20, 'jim': 23}

In [535]:
ron_grade = grades["ron"]

In [536]:
"jim" in grades

True

In [538]:
jim_grade = grades.get("jim", 0)
jim_grade

23

In [539]:
tweet = {
"user" : "joelgrus",
"text" : "Data Science is Awesome",
"retweet_count" : 100,
"hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [540]:
tweet

{'user': 'joelgrus',
 'text': 'Data Science is Awesome',
 'retweet_count': 100,
 'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']}

In [541]:
tweet_keys = tweet.keys() 
tweet_values = tweet.values() 
tweet_items = tweet.items() 
"user" in tweet_keys

True

In [542]:
"user" in tweet

True