In [14]:
message = 'And now for something completely different'
n = 17
pi = 3.141592653589793
print (message, n, pi)

And now for something completely different 17 3.141592653589793

In [20]:
name = 'John'
sal = 8.50
hours = 4
print (name, "works for", hours, "perday and his pay is $",sal)

John works for 4 perday and his pay is $ 8.5

In [23]:
42

42

In [24]:
n = 24

In [25]:
n

24

In [26]:
n + 25

49

In [27]:
n = 6

In [28]:
n

6

In [29]:
n + 12

18

In [30]:
n = 17 
print (n)

17

In [32]:
a = 'Hello'
print (a)

Hello

In [33]:
miles = 26.2

In [34]:
miles * 1.61

42.182

In [35]:
miles = 26.2

In [36]:
print(miles * 1.61)

42.182

In [37]:
print(1)
x = 2
print(x)

1
2

In [38]:
print (3)
a = 5
print (a)

3
5

In [40]:
5

5

In [41]:
x = 5
x + 1

6

In [42]:
2 * (3-1)

4

In [43]:
3 * (4-5)

-3

In [44]:
(1+1)**(5-2)

8

In [45]:
(3+7)**(3-1)

100

In [48]:
1 + 2**3

9

In [49]:
3 + 3**8

6564

In [50]:
2 *3**2

18

In [51]:
4*2**3

32

In [52]:
2*3-1

5

In [53]:
5*7-1

34

In [54]:
6+4/2

8.0

In [55]:
8-6/2

5.0

In [56]:
first = 'throat'
second = 'warbler'
first + second

'throatwarbler'

In [57]:
a = 'hero'
b = 'academia'
a + b

'heroacademia'

In [58]:
'Spam'*3

'SpamSpamSpam'

In [59]:
'sleep'*4

'sleepsleepsleepsleep'

In [61]:
'Spam'+'Spam'+'Spam'

'SpamSpamSpam'

In [62]:
'Hello'+'Hello'

'HelloHello'

In [66]:
# compute the percentage of the hour that has elapsed
minute = 180
percentage = (minute * 100) / 60

In [67]:
print (percentage)

300.0

In [68]:
percentage = (minute * 100) / 60 # percentage of an hour

In [69]:
print (percentage)

300.0

In [70]:
# calulating number of seconds in given number of hours
hours = 3
minutes = (hours * 60 * 60)

In [71]:
print (minutes)

10800

In [73]:
minutes = (hours * 60 * 60) #number of seconds in hours
print (minutes)

10800

In [78]:
type(32)

int

In [79]:
type('hello')

str

In [75]:
int('32')

32

In [80]:
int('56')

56

In [76]:
int(3.99999)

3

In [81]:
int(2.67)

2

In [77]:
int(-2.3)

-2

In [82]:
int(-7.913)

-7

In [83]:
float(32)

32.0

In [84]:
float(3)

3.0

In [85]:
float('3.14159')

3.14159

In [86]:
float('7.326')

7.326

In [87]:
str(32)

'32'

In [88]:
str('09')

'09'

In [89]:
str(3.14159)

'3.14159'

In [90]:
str(5.098)

'5.098'

In [91]:
import math

In [92]:
math

In [95]:
signal_power = 3008
noise_power = 20.39
ratio = signal_power / noise_power
decibels = 10 * math.log10(ratio)
print(decibels)

21.688606061414646

In [96]:
speed = 50
time = 4
distance = speed * time
value = 10 * math.log(distance)
print(value)

52.983173665480365

In [97]:
radians = 0.7
height = math.sin(radians)
print(height)

0.644217687237691

In [100]:
pi = 180
value=math.cos(pi/4)
print(value)

0.5253219888177297

In [101]:
math.sqrt(2) / 2.0

0.7071067811865476

In [102]:
math.sqrt(6) / 3.0

0.8164965809277259

In [104]:
degrees = 90
x = math.sin(degrees / 360.0 * 2 * math.pi)
print(x)

1.0

In [105]:
degrees = 45
x = math.cos(degrees / 360.0 * 2 * math.pi)
print(x)

0.7071067811865476

In [106]:
x = 1
x = math.exp(math.log(x+1))
print(x)

2.0

In [108]:
a = 10
a = math.exp(math.log10(a*2))
print(a)

3.673077974307203

In [3]:
def print_lyrics():
    print ("I'm a lumberjack, and I'm okay.")
    print ('I sleep all night and I work all day.')
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [4]:
print(print_lyrics)
type(print_lyrics)

<function print_lyrics at 0x000001D65BDACB70>

function

In [5]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [8]:
def sum_values():
    a =2
    b =3
    c = a + b
    print (c)
sum_values()

5

In [10]:
def repeated_sum():
    sum_values()
    sum_values()
repeated_sum()

5
5

In [11]:
def print_twice(bruce):
    print(bruce)
    print(bruce)
print_twice('Spam')

Spam
Spam

In [16]:
import math
print_twice(42)

42
42

In [17]:
print_twice(math.pi)

3.141592653589793
3.141592653589793

In [18]:

print_twice('Spam '*4)

Spam Spam Spam Spam
Spam Spam Spam Spam

In [19]:

print_twice(math.cos(math.pi))

-1.0
-1.0

In [20]:
michael = 'Eric, the half a bee.'
print_twice(michael)

Eric, the half a bee.
Eric, the half a bee.

In [21]:
def print_multi(a):
    print (a*3)
    print (a*3)
print_multi (2)

6
6

In [22]:
print_multi("hi")

hihihi
hihihi

In [23]:
print_multi(math.pi)

9.42477796076938
9.42477796076938

In [24]:
print_multi('hello '*2)

hello hello hello hello hello hello
hello hello hello hello hello hello

In [25]:
print_multi(math.sin(math.pi))

3.6739403974420594e-16
3.6739403974420594e-16

In [27]:
b = 'multiply'
print_multi(b)

multiplymultiplymultiply
multiplymultiplymultiply

In [33]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print_twice(cat)
cat_twice('hi', 'world')

hiworld
hiworld

In [36]:
def add(a, b):
    c = a + b
    print_multi(c)
add(3,4)

21
21

In [40]:
radians = 0
x = math.cos(radians)
golden = (math.sqrt(5) + 1) / 2
print(x, golden)

1.0 1.618033988749895

In [44]:
a = 90
x = math.sin(a)
y = (math.sqrt(9) + 1)
print (x, y)

0.8939966636005579 4.0

In [45]:
math.sqrt(5)

2.23606797749979

In [46]:
math.sqrt(10)

3.1622776601683795

In [47]:
result = print_twice('Bing')

Bing
Bing

In [48]:
print(result)

None

In [54]:
import turtle
bob = turtle.Turtle()

In [3]:
bob.fd(100)
bob.lt(90)
bob.fd(100)

In [4]:
def square(t):
    for i in range(4):
        t.fd(100)
        t.lt(90)
square(bob)

In [5]:
turtle.bye()

In [9]:
bob.fd(150)
bob.lt(70)
bob.fd(80)

In [10]:
turtle.bye()

In [89]:
import turtle
bob = turtle.Turtle()

In [20]:
def square(t):
    for i in range(4):
        t.fd(150)
        t.lt(100)
square(bob)

In [21]:
turtle.bye()

In [28]:
def square(t, length): 
    for i in range(4): 
        t.fd(length)
        t.lt(90)
square(bob, 100)

In [94]:
turtle.bye()

In [50]:
def square(t, length): 
    for i in range(4): 
        t.fd(length)
        t.lt(90)
square(bob, 110)

In [56]:
def polygon(t, n, length):
    angle = 360 / n 
    for i in range(n):
        t.fd(length) 
        t.lt(angle)
polygon(bob, 7, 70)

In [60]:
def polygon(t, n, length):
    angle = 360 / n 
    for i in range(n):
        t.fd(length) 
        t.lt(angle)
polygon(bob, 6, 50)

In [62]:
import math

In [75]:
def circle(t, r): 
    circumference = 2 * math.pi * r 
    n = int(circumference / 3) + 3 
    length = circumference / n 
    polygon(t, n, length)
circle(bob, 30)

In [82]:
def arc(t, r, angle): 
    arc_length = 2 * math.pi * r * angle / 360 
    n = int(arc_length / 3) + 1 
    step_length = arc_length / n 
    step_angle = angle / n
    for i in range(n): 
        t.fd(step_length) 
        t.lt(step_angle)
def polyline(t, n, length, angle): 
    for i in range(n): 
        t.fd(length) 
        t.lt(angle) 
def polygon(t, n, length):
    angle = 360.0 / n 
    polyline(t, n, length, angle)
def arc(t, r, angle): 
    arc_length = 2 * math.pi * r * angle / 360 
    n = int(arc_length / 3) + 1 
    step_length = arc_length / n 
    step_angle = float(angle) / n 
    polyline(t, n, step_length, step_angle)
def circle(t, r): 
    arc(t, r, 360)
circle(bob, 20)
polygon(bob, 6, 70)

In [86]:
def arc(t, r, angle): 
    arc_length = 2 * math.pi * r * angle / 360 
    n = int(arc_length / 3) + 1 
    step_length = arc_length / n 
    step_angle = angle / n
    for i in range(n): 
        t.fd(step_length) 
        t.lt(step_angle)
def polyline(t, n, length, angle): 
    for i in range(n): 
        t.fd(length) 
        t.lt(angle) 
def polygon(t, n, length):
    angle = 360.0 / n 
    polyline(t, n, length, angle)
def arc(t, r, angle): 
    arc_length = 2 * math.pi * r * angle / 360 
    n = int(arc_length / 3) + 1 
    step_length = arc_length / n 
    step_angle = float(angle) / n 
    polyline(t, n, step_length, step_angle)
def circle(t, r): 
    arc(t, r, 360)
circle(bob, 50)
polygon(bob, 8, 90)

In [90]:
def polyline(t, n, length, angle): 
    """Draws n line segments with the given length and angle (in degrees) between them. t is a turtle. """ 
    for i in range(n):
        t.fd(length) 
        t.lt(angle)
polyline(bob, 8, 40, 45)

In [93]:
def polyline(t, n, length, angle): 
    """Draws n line segments with the given length and angle (in degrees) between them. t is a turtle. """ 
    for i in range(n):
        t.fd(length) 
        t.lt(angle)
polyline(bob, 6, 70, 60)

In [95]:
minutes = 105 
minutes / 60

1.75

In [96]:
minutes = 180 
minutes / 60

3.0

In [105]:
minutes = 105 
hours = minutes // 60 
hours

1

In [106]:
remainder = minutes - hours * 60 
remainder

45

In [107]:
remainder = minutes % 60 
remainder

45

In [111]:
minutes = 220 
hours = minutes // 60 
hours

3

In [112]:
remainder = minutes - hours * 60 
remainder

40

In [113]:
remainder = minutes % 60 
remainder

40

In [114]:
5 == 5

True

In [115]:
4 == 4

True

In [116]:
5 == 6

False

In [117]:
4 == 5

False

In [118]:
type(True)

bool

In [120]:
type(False)

bool

In [127]:
x = int(input("enter a number"))
if x > 0: 
    print('x is positive')
if x < 0: 
    pass # TODO: need to handle negative values!

enter a number-2

In [129]:
y = int(input("enter a number"))
if y % 2 == 0: 
    print('y is even') 
else: 
    print('y is odd')

enter a number23
y is odd

In [130]:
x=int(input("enter 1st number"))
y=int(input("enter 2nd number"))
if x < y: 
    print('x is less than y') 
elif x > y: 
    print('x is greater than y') 
else: 
    print('x and y are equal')

enter 1st number4
enter 2nd number5
x is less than y

In [1]:
x=int(input("enter 1st number"))
y=int(input("enter 2nd number"))
if x == y: 
    print('x and y are equal') 
else: 
    if x < y: 
        print('x is less than y')
    else: 
        print('x is greater than y')

enter 1st number12
enter 2nd number22
x is less than y

In [4]:
x=int(input("enter 1st number"))
if 0 < x and x < 10:
    print('x is a positive single-digit number.')

enter 1st number2
x is a positive single-digit number.

In [5]:
num=int(input("enter 1st number"))
if 9 < num and num < 100:
    print('num is a positive two-digit number.')

enter 1st number10
num is a positive two-digit number.

In [6]:
x=int(input("enter 1st number"))
if 0 < x < 10: 
    print('x is a positive single-digit number.')

enter 1st number1
x is a positive single-digit number.

In [9]:
num=int(input("enter 1st number"))
if 9 < num < 100: 
    print('num is a positive two-digit number.')

enter 1st number22
num is a positive two-digit number.

In [11]:
def countdown(n): 
    if n <= 0: 
        print('Blastoff!') 
    else: 
        print(n) 
        countdown(n-1)
countdown(3)

3
2
1
Blastoff!

In [12]:
def countdown(n): 
    if n <= 0: 
        print('Time Out') 
    else: 
        print(n) 
        countdown(n-1)
countdown(6)

6
5
4
3
2
1
Time Out

In [13]:
def print_n(s, n): 
    if n <= 0: 
        return 
    print(s) 
    print_n(s, n-1)
print_n(2, 5)

2
2
2
2
2

In [15]:
def print_num(a, b): 
    if b <= 0: 
        return 
    print(a) 
    print_num(a, b-1)
print_num(8, 11)

8
8
8
8
8
8
8
8
8
8
8

In [16]:
text = input()

this is a python test code

In [17]:
text

'this is a python test code'

In [18]:
name = input('What...is your name?\n')

What...is your name?
shashank

In [19]:
name

'shashank'

In [20]:
number = input("enter a number\n")

enter a number
2

In [21]:
number

'2'

In [22]:
prompt = 'What...is the airspeed velocity of an unladen swallow?\n'

In [23]:
speed = input(prompt)

What...is the airspeed velocity of an unladen swallow?
23

In [24]:
int(speed)

23

In [25]:
text = "what is the temperature today?"

In [26]:
value = input(text)

what is the temperature today?23

In [27]:
value

'23'

In [30]:
import math

In [32]:
signal_power = 9 
noise_power = 10 
ratio = signal_power / noise_power 
decibels = 10 * math.log10(ratio) 
print(decibels)

-0.4575749056067512

In [33]:
def area(radius): 
    a = math.pi * radius**2 
    return a
area(4)

50.26548245743669

In [34]:
def circumference(r):
    v = 2*math.pi*r
    return v
circumference(5)

31.41592653589793

In [35]:
def area(radius): 
    return math.pi * radius**2
area(4)

50.26548245743669

In [37]:
def circumference(r):
    return 2*math.pi*r
circumference(5)

31.41592653589793

In [39]:
def absolute_value(x):
    if x < 0: 
        return -x 
    if x > 0: 
        return x
absolute_value(-3)

3

In [41]:
def distance(x1, y1, x2, y2): 
    dx = x2 - x1 
    dy = y2 - y1 
    print('dx is', dx) 
    print('dy is', dy) 
    return 0.0
distance(2, 4, 3, 6)

dx is 1
dy is 2

0.0

In [50]:
def distance(x1, y1, x2, y2): 
    dx = x2 - x1 
    dy = y2 - y1 
    dsquared = dx**2 + dy**2 
    print('dsquared is: ', dsquared) 
    return 0.0
distance(2, 4, 3, 6)

dsquared is:  5

0.0

In [48]:
def dist(x1, y1, x2, y2): 
    dx = x2 - x1 
    dy = y2 - y1 
    dcubed = dx**3 + dy**3
    print('dcubed is: ', dcubed) 
    return 0.0
dist(2, 4, 3, 6)

dcubed is:  9

0.0

In [51]:
def circle_area(xc, yc, xp, yp):
    radius = distance(xc, yc, xp, yp) 
    result = area(radius) 
    return result
circle_area(1, 2, 3, 4)

dsquared is:  8

0.0

In [52]:
def is_divisible(x, y):
    if x % y == 0: 
        return True 
    else: 
        return False
is_divisible(4,6)

False

In [53]:
def factorial(n): 
    if n == 0: 
        return 1
    else: 
        recurse = factorial(n-1) 
        result = n * recurse 
        return result
factorial(5)

120

In [54]:
def fibonacci(n): 
    if n == 0:
        return 0 
    elif n == 1:
        return 1 
    else: 
        return fibonacci(n-1) + fibonacci(n-2)
fibonacci(3)

2

In [55]:
def factorial(n): 
    if not isinstance(n, int):
        print('Factorial is only defined for integers.') 
        return None 
    elif n < 0: 
        print('Factorial is not defined for negative integers.') 
        return None 
    elif n == 0: 
        return 1 
    else: 
        return n * factorial(n-1)
factorial('fred')

Factorial is only defined for integers.

In [56]:
factorial(-2)

Factorial is not defined for negative integers.

In [57]:
factorial(5)

120

In [58]:
def factorial(n): 
    space = ' ' * (4 * n) 
    print(space, 'factorial', n)
    if n == 0:
        print(space, 'returning 1')
        return 1
    else: 
        recurse = factorial(n-1) 
        result = n * recurse 
        print(space, 'returning', result) 
        return result
factorial(4)

                 factorial 4
             factorial 3
         factorial 2
     factorial 1
 factorial 0
 returning 1
     returning 1
         returning 2
             returning 6
                 returning 24

24

In [69]:
def spiral(n): 
    space = '  ' * (3 * n) 
    print(space,'spiral', n)
    if n == 0:
        print(space, 'returning 1')
        return 1
    else: 
        recurse = spiral(n-1) 
        result = n * recurse 
        print(space, 'value', result) 
        return result
spiral(4)

                         spiral 4
                   spiral 3
             spiral 2
       spiral 1
 spiral 0
 returning 1
       value 1
             value 2
                   value 6
                         value 24

24

In [70]:
x = 5

In [71]:
x

5

In [72]:
x = x + 2

In [73]:
x

7

In [75]:
def countdown(n): 
    while n > 0: 
        print(n) 
        n = n - 1
    print('Blastoff!')
countdown(3)

3
2
1
Blastoff!

In [77]:
def stopwatch(n): 
    while n > 0: 
        print(n) 
        n = n - 1
    print('Timeup')
stopwatch(5)

5
4
3
2
1
Timeup

In [78]:
def sequence(n): 
    while n != 1: 
        print(n) 
        if n % 2 == 0: # n is even 
            n = n / 2
        else: # n is odd 
            n = n*3 + 1
sequence(3)

3
10
5.0
16.0
8.0
4.0
2.0

In [79]:
def sequence(n): 
    while n > 1: 
        print(n) 
        if n % 2 == 0: # n is even 
            n = n / 2
        else: # n is odd 
            n = n*3 + 1
sequence(3)

3
10
5.0
16.0
8.0
4.0
2.0

In [80]:
a = 4

In [81]:
x = 3

In [82]:
y = (x + a/x) / 2

In [83]:
y

2.1666666666666665

In [84]:
m = 2

In [85]:
x =4
c =7

In [88]:
l = m*x + c

In [89]:
l

15

In [90]:
x = y 
y = (x + a/x) / 2 
y

7.633333333333334